<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="1800">
    <title><%= setTitle(title) %></title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <menu>
      <ul>
        <li><a href="/admin/experiments">Experiments</a></li>
      </ul>

      <h1><a href="/">Abba</a></h1>
    </menu>

    <section class="header">
      <header>
        <h1><%= experiment.name %></h1>
        <h2>Experiments results</h2>
      </header>
    </section>

    <section class="experiment">
      <nav class="nav">
        <form method="get">
          <article class="container">
            <h3>Actions</h3>
            <p>
              <a href="/admin/experiments/<%= experiment.id %>/toggle" data-method="put" data-confirm="Are you sure?">
                <%= experiment.running ? "End experiment" : "Start experiment" %>
              </a>
            </p>

            <p>
              <a href="/admin/experiments/<%= experiment.id %>" data-method="delete" data-confirm="Are you sure you want to delete this experiment?">Delete experiment</a>
            </p>
          </article>

          <article class="container">
            <h3>Time period</h3>

            <label>
              <span>From</span>
              <input type="date" name="start_at" value="<%= start_at.format('YYYY-MM-DD') %>">
            </label>

            <label>
              <span>To</span>
              <input type="date" name="end_at" value="<%= end_at.format('YYYY-MM-DD') %>">
            </label>
          </article>

          <article class="container">
            <h3>Filter</h3>

            <label>
              <span>Browser</span>
              <select name="tranche">
                <option value="">All</option>
                <option <%= selected('chrome', tranche) %> value="chrome">Chrome</option>
                <option <%= selected('safari', tranche) %> value="safari">Safari</option>
                <option <%= selected('firefox', tranche) %> value="firefox">Firefox</option>
                <option <%= selected('ie', tranche) %> value="ie">All IE</option>
                <option <%= selected('ie6', tranche) %> value="ie6">IE 6</option>
                <option <%= selected('ie7', tranche) %> value="ie7">IE 7</option>
                <option <%= selected('ie8', tranche) %> value="ie8">IE 8</option>
                <option <%= selected('ie9', tranche) %> value="ie9">IE 9</option>
                <option <%= selected('ie10', tranche) %> value="ie10">IE 10</option>
                <option <%= selected('ie11', tranche) %> value="ie11">IE 11</option>
                <option <%= selected('mobile', tranche) %> value="mobile">Mobile</option>
              </select>
            </label>
          </article>
        </form>
      </nav>

      <article>
        <article class="container">
          <h3>Variants</h3>

          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Conversions / Visitors</th>
                <th>Conversion rate</th>
                <th>Probability</th>
                <th>Improvement</th>
              </tr>
            </thead>

            <tbody>
              <% variants.forEach(function (variant){ %>
                <tr data-id="<%= variant.id %>">
                  <td class="name"><%= variant.name %></td>
                  <td class="overall"><%= variant.completedCount %> / <%= variant.startedCount %></td>
                  <td class="conversion <%= dir(variant.percentConversionRate) %>"><%= precisionRound(variant.percentConversionRate, 1) %></td>
                  <td class="probability <%= dir(variant.probability) %>"></td>
                  <td class="difference <%= dir(variant.percentDifference) %>"><%= variant.percentDifference %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </article>

        <div>
          <article class="container">
            <h3>Conversion over time</h3>

            <div class="chart"></div>
          </article>
        </div>
      </article>
    </section>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/zepto@1.2.0/dist/zepto.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/d3.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript">
      $(function() {
        var chart = new Chart({
          el: $('.chart'),
          model: <%- JSON.stringify(experiment) %>,
          params: <%- JSON.stringify(params) %>
        });
        chart.fetch();

        $('form').on('change', function() {
          $(this).submit();
        });
      });
    </script>
  </body>
</html>
